{% extends 'manager/errors/base.html' %} 
{% load static %} 
{% block error_block %}

<div class="notfound-top">
  <h1>500</h1>
</div>
<div class="content">
  <img src="{% static 'manager/assets/errors/images/green.png' %}" alt="" title="placeholder" />
  <h3>
    "Oops! Something went wrong on our end. We're working to fix the issue. Please try again later. If the problem persists, contact support. Thank you for your patience."
  </h3>
  <ul class="social-icon">
    <li><a class="fa" href="{{obj.user.extendedauthuser.facebook}}"> </a></li>
    <li><a class="tw" href="{{obj.user.extendedauthuser.twitter}}"> </a></li>
    <li><a class="g" href="{{obj.user.extendedauthuser.github}}"> </a></li>
  </ul>
</div>
{% endblock %}
